{{!< default}}
<!--HEADER-->
<div class="header-wrapper">
  <div class="header-image"></div>
  <div class="navigation">
    <a href="/blog"><span class="nav-icon icon-pen"></span></a>
    <a href="/projects"><span class="nav-icon icon-ruler"></span></a>
    <a href="/"><img class="avatar" src="{{asset 'images/avatar.jpg'}}"></a>
    <a href="/skills"><span class="nav-icon icon-uniE60E"></span></a>
    <a href="/resume"><span class="nav-icon icon-mouse"></span></a>
  </div>
</div>
<!--END HEADER-->

<main class="main-content" role="main">
    {{#post}}
    <h1 class="page-title">{{title}}</h1>
    <time class="post-date-post-page" datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">{{date format='MMMM DD, YYYY'}}</time>
    <div class="post-content">
    {{content}}
    </div>
    {{#if tags}}
    <div class="post-tags">
    Tags: {{tags separator=" | "}}
    </div>
    {{/if}}
    {{/post}}
</main>


